<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      POSTRES
      <app-hora></app-hora>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let receta of receta" (click)="openReceta(receta)" > 
      <ion-label *ngIf="receta.tipo == 'postre'">
        <h2>{{receta.titulo}}</h2>
        <p>{{receta.descripcion}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addReceta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>