strong{
    position: absolute;
    color: rgb(213, 213, 213);
    background-color: #232323;
    border-radius: 10px;
    padding: 5px;
    top:-10px;
    right: -10px;
    margin: 5px;
    box-shadow: 5px 5px 5px #000;
}
